<h2>Acessar Conta</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :acc, "Numero da conta" %><br />
    <%= f.number_field :acc %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Acessar" %>
  </div>
<% end %>

